In [1]:
import pandas as pd

SARCASM_HEADLINES_DATASET_PATH = "../datasets/Sarcasm_Headlines_Dataset.json"
MUSTARD_PLUS_PLUS_DATASET_PATH = "../datasets/mustard++_text.csv"
# From Sarcasm Corpus V2
# GEN (general sarcasm), HYP (hyperbole), and RQ (rhetorical questions).
GEN_SARC_NOTSARC_DATASET_PATH = "../datasets/GEN-sarc-notsarc.csv"
HYP_SARC_NOTSARC_DATASET_PATH = "../datasets/HYP-sarc-notsarc.csv"
RQ_SARC_NOTSARC_DATASET_PATH = "../datasets/RQ-sarc-notsarc.csv"

In [2]:
combined_df = pd.DataFrame(columns=["sentence", "is_sarcastic"])

## Sarcasm headlines dataset

In [3]:
sarcasm_headlines_df: pd.DataFrame = pd.read_json(
    SARCASM_HEADLINES_DATASET_PATH, lines=True
)
print(sarcasm_headlines_df.head())
print(sarcasm_headlines_df.shape)

   is_sarcastic                                           headline  \
0             1  thirtysomething scientists unveil doomsday clo...
1             0  dem rep. totally nails why congress is falling...
2             0  eat your veggies: 9 deliciously different recipes
3             1  inclement weather prevents liar from getting t...
4             1  mother comes pretty close to using word 'strea...

                                        article_link
0  https://www.theonion.com/thirtysomething-scien...
1  https://www.huffingtonpost.com/entry/donna-edw...
2  https://www.huffingtonpost.com/entry/eat-your-...
3  https://local.theonion.com/inclement-weather-p...
4  https://www.theonion.com/mother-comes-pretty-c...
(28619, 3)

In [4]:
sarcasm_headlines_df = sarcasm_headlines_df.rename(columns={"headline": "sentence"})
combined_df = pd.concat([combined_df, sarcasm_headlines_df], ignore_index=True)
print(combined_df.head())

                                            sentence is_sarcastic  \
0  thirtysomething scientists unveil doomsday clo...            1
1  dem rep. totally nails why congress is falling...            0
2  eat your veggies: 9 deliciously different recipes            0
3  inclement weather prevents liar from getting t...            1
4  mother comes pretty close to using word 'strea...            1

                                        article_link
0  https://www.theonion.com/thirtysomething-scien...
1  https://www.huffingtonpost.com/entry/donna-edw...
2  https://www.huffingtonpost.com/entry/eat-your-...
3  https://local.theonion.com/inclement-weather-p...
4  https://www.theonion.com/mother-comes-pretty-c...

## Mustard++ dataset

In [5]:
mustard_plus_plus_df = pd.read_csv(MUSTARD_PLUS_PLUS_DATASET_PATH)
print(mustard_plus_plus_df.shape)
mustard_plus_plus_df.head()

(6041, 12)

,SCENE,KEY,SENTENCE,END_TIME,SPEAKER,SHOW,Sarcasm,Sarcasm_Type,Implicit_Emotion,Explicit_Emotion,Valence,Arousal
0,1_10004,1_10004_c_00,"Well, I'm sure that, uh, you...\nhave a lot of...",0:06,PERSON,BBT,NaN,NaN,NaN,NaN,NaN,NaN
1,1_10004,1_10004_c_01,Who was he?,0:08,SHELDON,BBT,NaN,NaN,NaN,NaN,NaN,NaN
2,1_10004,1_10004_c_02,His name is Ron.\nI met him at my prayer group.,0:12,PERSON,BBT,NaN,NaN,NaN,NaN,NaN,NaN
3,1_10004,1_10004_c_03,How long have you been involved with him?,0:14,SHELDON,BBT,NaN,NaN,NaN,NaN,NaN,NaN
4,1_10004,1_10004_c_04,A few months.,0:16,PERSON,BBT,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
mustard_plus_plus_df = mustard_plus_plus_df.dropna(subset=["Sarcasm"])
mustard_plus_plus_df.head()

,SCENE,KEY,SENTENCE,END_TIME,SPEAKER,SHOW,Sarcasm,Sarcasm_Type,Implicit_Emotion,Explicit_Emotion,Valence,Arousal
5,1_10004,1_10004_u,"And of those few months, how long have you bee...",0:07,SHELDON,BBT,0.0,NONE,Anger,Anger,2.0,7.0
14,1_10009,1_10009_u,"Let the dead man talk. So, why do you think that?",0:05,PENNY,BBT,0.0,NONE,Happiness,Happiness,6.0,5.0
18,1_1001,1_1001_u,"What else? Sell it on eBay as ""slightly used.""",0:04,RAJ,BBT,0.0,NONE,Excitement,Excitement,6.0,5.0
24,1_1003,1_1003_u,"Good idea, sit with her. Hold her, comfort her...",0:08,HOWARD,BBT,1.0,PRO,Anger,Sadness,3.0,6.0
31,1_10190,1_10190_u,"Well, now that I've given up string theory, I'...",0:11,SHELDON,BBT,0.0,NONE,Neutral,Neutral,5.0,5.0

In [7]:
mustard_plus_plus_df = mustard_plus_plus_df[["SENTENCE", "Sarcasm"]].rename(
    columns={"SENTENCE": "sentence", "Sarcasm": "is_sarcastic"}
)
combined_df = pd.concat([combined_df, mustard_plus_plus_df], ignore_index=True)

print(combined_df.shape)

(29821, 3)

## Sarcasm Corpus V2

In [8]:
sarcasm_corpus_v2_gen_df = pd.read_csv(GEN_SARC_NOTSARC_DATASET_PATH)
print(sarcasm_corpus_v2_gen_df.head())
sarcasm_corpus_v2_hyp_df = pd.read_csv(HYP_SARC_NOTSARC_DATASET_PATH)
print(sarcasm_corpus_v2_hyp_df.head())
sarcasm_corpus_v2_rq_df = pd.read_csv(RQ_SARC_NOTSARC_DATASET_PATH)
print(sarcasm_corpus_v2_rq_df.head())

     class  id                                               text
0  notsarc   1  If that's true, then Freedom of Speech is doom...
1  notsarc   2  Neener neener - is it time to go in from the p...
2  notsarc   3  Just like the plastic gun fear, the armour pie...
3  notsarc   4  So geology is a religion because we weren't he...
4  notsarc   5  Well done Monty. Mark that up as your first ev...
     class  id                                               text
0  notsarc   1  have no predators to fear? check. who said we ...
1  notsarc   2  2 hours? damn!  that book took me a good 2 day...
2  notsarc   3  you never played myst? damn!!! i must be reall...
3  notsarc   4  Well, if Genesis was in fact true, then we wou...
4  notsarc   5  Just making sure that everybody is aware of hi...
     class  id                                               text
0  notsarc   1  Archie, the ONLY issue that gays don't have a ...
1  notsarc   2  No, not really. All that is different is the n...
2  notsarc   3  It's ashame that everyone keeps looking for th...
3  notsarc   4  Almost? Usually, that is true, and it involves...
4  notsarc   5  And so have animals. Plants have been wiped ou...

In [9]:
sarcasm_corpus_v2_df = pd.concat(
    [sarcasm_corpus_v2_gen_df, sarcasm_corpus_v2_hyp_df, sarcasm_corpus_v2_rq_df],
    ignore_index=True,
)
sarcasm_corpus_v2_df.head()

     class  id                                               text
0  notsarc   1  If that's true, then Freedom of Speech is doom...
1  notsarc   2  Neener neener - is it time to go in from the p...
2  notsarc   3  Just like the plastic gun fear, the armour pie...
3  notsarc   4  So geology is a religion because we weren't he...
4  notsarc   5  Well done Monty. Mark that up as your first ev...

In [10]:
sarcasm_corpus_v2_df["is_sarcastic"] = sarcasm_corpus_v2_df["class"].apply(
    lambda x: 0 if x == "notsarc" else 1
)
sarcasm_corpus_v2_df.head()

,class,id,text,is_sarcastic
0,notsarc,1,"If that's true, then Freedom of Speech is doom...",0
1,notsarc,2,Neener neener - is it time to go in from the p...,0
2,notsarc,3,"Just like the plastic gun fear, the armour pie...",0
3,notsarc,4,So geology is a religion because we weren't he...,0
4,notsarc,5,Well done Monty. Mark that up as your first ev...,0

In [11]:
sarcasm_corpus_v2_df = sarcasm_corpus_v2_df[["text", "is_sarcastic"]].rename(
    columns={"text": "sentence"}
)
sarcasm_corpus_v2_df.head()

                                            sentence  is_sarcastic
0  If that's true, then Freedom of Speech is doom...             0
1  Neener neener - is it time to go in from the p...             0
2  Just like the plastic gun fear, the armour pie...             0
3  So geology is a religion because we weren't he...             0
4  Well done Monty. Mark that up as your first ev...             0

In [12]:
combined_df = pd.concat([combined_df, sarcasm_corpus_v2_df], ignore_index=True)
print(combined_df.shape)

(39207, 3)

## Save to Parquet

In [13]:
combined_df.to_parquet("../datasets/combined.parquet")